@import '../../styles/var';

.contact_page{
    display: flex;
    justify-content: space-between;
    .contact_form_sec{
        background: #ffffff;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 30px;
        padding: 30px 28px;
    }
    @include tab{
        .contact_form_sec{
            margin-top: 50px;
        } 
    }
}
.news_letter{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}