@import '../../styles/var';

.app_store_wrapper{
    a{
        img{
            width: 100%;
            max-width: 140px;
            margin-bottom: 10px;
        }
    }
    @include phone{
        a{
            img{
                width: 100%;
                max-width: 120px;
            }
        }
    }
}