@import '../../styles/var';

.news_letter_section{
    .form_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        .form_fields{
            .small_field{
                padding: 20px;
                width: 117%;
            }
        }
        .button_wrapper{
            position: relative;
            button{
                margin: 0;
                outline: none;
                border: none;
                box-shadow: none;
                top: -23px;
                inset-inline-end: 3px;
                position: absolute;
                background-color: #0b8257;
                border-radius: 50%;
                padding: 5px 13px 9px 13px;
                color: #ffffff;
                font-size: 22px;
                right: -23px;
            }
        }
    }
    .error_msg{
        margin-top: 8px;
        color: red;
        text-align: center;
    }
}