@import '../../styles/var';

.contact_card{
    background-color: map-get($colors , "white" );
    margin: 10px 0;
    padding: 28px 24px;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #18191b;
    .contact_first{
        margin: 20px 0;
        display: flex;
        justify-content: left;
        align-items: center;
        .contact_icon{
            color: #ffffff;
            background-color: #0b8257;
            width: 100%;
            max-width: 36px;
            border-radius: 8px;
            padding: 2px 4px 4px;
            font-size: 16px;
            max-height: 36px;
            height: 100%;
            text-align: center;
            margin-right: 8px;
        }
        a{
            text-decoration: none;
            .contact_text{
                color: map-get($colors , "black" );
                width: 100%;
            }
        }
    }
    .contact_sec{
        text-transform: capitalize;
    }
}