@import '../../styles/var';

.heading_wrapper{
    text-align: center;
    margin: 40px 0;
    .head{
        color: map-get($colors, "dark-green" );
    }
}
.privacy_policy_warpper{
    box-shadow: 0px 4px 20px rgba(4, 97, 165, 0.1);
    border-radius: 30px;
    padding: 45px 50px;
    background-color: map-get($colors , "white" );
    .privacy_body{
        p{
            color: #717c77;
            font-size: 16px;
            font-weight: 400; 
        }
    }
    @include phone{
        padding: 45px 35px;
    }
}