@import '../../styles/var';

.container_section{
    max-width: 1170px;
    // width: 100%;
    margin: auto;
    @include large-screen{
        padding: 0 60px;
    }
    @include small-screen{
        padding: 0 20px;
    }
    @include phone{
        padding: 0 10px;
    }
}