@import '../../styles/var';

.input_field_wrapper{
    .input_field{
        input{
            border: none;
            background: #e0fff1;
            padding: 16px 30px;
            width: 100%;
            border-radius: 50px;
            border-radius: 30px;
            &:focus{
                outline: none;
            }
        }
    }
}