@import "../../styles/var";

.about_page_wrapper {
  .title_wrapper {
    margin-bottom: 18px;
    .about_title {
      font-size: 30px;
      // margin-bottom: 18px;
      font-weight: 600;
      text-transform: capitalize;
      display: inline;
    }
    .below_title {
      color: #00e77b;
      font-size: 30px;
      font-weight: 600;
    }
  }

  .des {
    font-size: 18px;
    color: #717c77;
  }
  .about_img {
    padding-top: 133%;
    position: relative;
    display: block;
    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .news_letter {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
}
